<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">
    <nav class="navbar fixed-top navbar-light bg-light position-static">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#{homeBean.open()}" class="nav-link #{request.requestURI.contains(homeBean.open())? 'active': ''}">Index</a></li>
            <li class="nav-item"><a href="#{animaisBean.open()}" class="nav-link #{request.requestURI.contains(animaisBean.open())? 'active': ''}"  id="nav_animais">Animais</a></li>
            <li class="nav-item"><a href="#{interessadosBean.open()}" class="nav-link #{request.requestURI.contains(interessadosBean.open())? 'active': ''}"  id="nav-interessados">Interessados</a></li>
        </ul>
    </nav>
</ui:composition>