<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="WEB-INF/template/layout.xhtml">
    <ui:define name="content">
        <br/>
        <h1>Interessados Cadastrados</h1>
        <br/>
        <h:form id="form">
            <h:commandButton action="#{interessadosBean.addInteressado}" class="btn" value="Add Animal"/>

            <h:dataTable value="#{interessadosBean.interessados}" var="inter" class="table" id="table">
                <h:column>
                    <f:facet name="header">Nome</f:facet>
                    <h:outputText value="#{inter.nome}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">CPF</f:facet>
                    <h:outputText value="#{inter.cpf}"/>
                </h:column>
                <h:column>
                    <h:commandButton value="Salvar" action="#{interessadosBean.editaInteressado(inter)}" class="btn" />
                </h:column>

            </h:dataTable>
        </h:form>
    </ui:define>
</ui:composition>